<main>
  <article>
    <header>
      <h1>Project Empyrean</h1>
    </header>
    <p>
      Insofar as happiness is governed by causality within influence of
      volition, Project Empyrean seeks maximally certain information and
      derivative solutions by which volition may be constrained for the
      indefinite minimization of stress below a threshold. In other words, "What
      should I do to be happy forever, and how can I make sure it actually
      happens?"
    </p>
    <a href="https://atlas.projectempyrean.org">Visit Atlas</a>
  </article>
</main>
